In [4]:
! pip install numpy

Requirement already satisfied: numpy in /Users/mohituniyal/opt/anaconda3/lib/python3.7/site-packages (1.17.2)
WARNING: You are using pip version 19.3.1; however, version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [5]:
import numpy as np

In [6]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]

In [7]:
print(l1+l2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
type(l1)

list

In [9]:
arr1 = np.array(l1)
arr2 = np.array(l2)

In [10]:
arr1

array([1, 2, 3, 4])

In [11]:
type(arr1)

numpy.ndarray

In [13]:
arr1

array([1, 2, 3, 4])

In [14]:
arr2

array([5, 6, 7, 8])

In [17]:
arr1 / arr2

array([0.2       , 0.33333333, 0.42857143, 0.5       ])

In [29]:
arr = np.array(
                [[1],
                [2],
                [3],
                [4]],
               )

In [30]:
arr.shape

(4, 1)

In [44]:
np.random.randint(10, 100,  size = (5,5))

array([[39, 43, 62, 65, 24],
       [78, 12, 75, 83, 86],
       [90, 77, 69, 82, 66],
       [65, 79, 98, 24, 57],
       [43, 87, 35, 38, 43]])

In [58]:
arr1 = np.array([[1,2,3],
                [4,5,6],
                [7,8,9]])

In [59]:
arr1.shape

(3, 3)

In [60]:
arr1 *10

array([[10, 20, 30],
       [40, 50, 60],
       [70, 80, 90]])

In [61]:
arr2 = np.array([[1,2,3],
                [4,5,6],])

In [62]:
arr2.shape

(2, 3)

In [63]:
np.transpose(arr2)

array([[1, 4],
       [2, 5],
       [3, 6]])

In [64]:
arr2.T

array([[1, 4],
       [2, 5],
       [3, 6]])

In [65]:
arr1.shape

(3, 3)

In [67]:
arr2.shape

(2, 3)

In [68]:
arr1 * arr2.T

ValueError: operands could not be broadcast together with shapes (3,3) (3,2)

In [69]:
np.dot(arr1, arr2.T)

array([[ 14,  32],
       [ 32,  77],
       [ 50, 122]])

In [70]:
arr1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [72]:
arr1[ 2, 1]

8

In [76]:
# Array slicing
# arr[ rows , cols]
arr1 [ : , 1:3 ]

array([[2, 3],
       [5, 6],
       [8, 9]])

In [78]:
arr1[ 1 , : ]

array([4, 5, 6])

In [79]:
def distance(pA, pB):
    return np.sqrt(np.sum((pB - pA)**2))

In [82]:
A = np.array([5,6])
B = np.array([0,0])

In [83]:
distance(A, B)

7.810249675906654